name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Build the Docker image
      run: docker build server --tag my-image-name:$(date +%s)
    - name: GHCR-Action
      uses: KuhlTime/ghcr-action@v2
      with:
          token: ${{ secrets.GITHUB_TOKEN }}
